html {
  -webkit-text-size-adjust​: ​none​;
  width: 100%;
  margin: 0;
  font-size: 62.5%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 65px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  /* 드래그 방지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*드래그 하고 싶은 영억에는 아래 css 적용하기*/
.draggable {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

/*데스크탑) 화면 너비: 1280 ~ 1920px*/
@media (max-width: 1920px) {
  html {
    font-size: 10px;
    /* margin: 0 360px; */
  }
}

/*데스크탑) 화면 너비: 1025 ~ 1280px*/
@media (max-width: 1280px) {
  html {
    font-size: 10px;
    /* margin: 0 200px; */
  }
}

/*데스크탑) 화면 너비: 1022 ~ 1024px */
@media (max-width: 1024px) {
  html {
    font-size: 10px;
    /* margin: 0 200px; */
  }
}

/* 노트북) 화면 너비: 0 ~ 960px*/
@media (max-width: 768px) {
  html {
    font-size: 9px;
    /* margin: 0 150px; */
  }
}

/* 타블렛) 화면 너비: 577 ~ 768px */
@media (max-width: 768px) {
  html {
    font-size: 8px;
    /* margin: 0 150px; */
  }
}

/* 모바일) 화면 너비: 0 ~ 576 */
@media (max-width: 576px) {
  html {
    font-size: 8px;
    /* margin: 0 130px; */
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carouselWrapper {
  position: relative;
  width: 100%;
  height: 50vh;
  border-radius: 30px;
  border: none;
  overflow: hidden;
  @media (max-width: 900px) {
    height: 30vh;
  }
}
