html {
  -webkit-text-size-adjust​: ​none​;
  width: 100%;
  height: 100vh;

  margin: 0;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

body:hover {
  overflow-y: scroll;
}

/*데스크탑) 화면 너비: 1280 ~ 1920px*/
@media (max-width: 1920px) {
  body {
    font-size: 10px;
    /* margin: 0 360px; */
  }
}

/*데스크탑) 화면 너비: 1025 ~ 1280px*/
@media (max-width: 1280px) {
  body {
    font-size: 10px;
    /* margin: 0 200px; */
  }
}

/*데스크탑) 화면 너비: 1022 ~ 1024px */
@media (max-width: 1024px) {
  body {
    font-size: 10px;
    /* margin: 0 200px; */
  }
}

/* 노트북) 화면 너비: 0 ~ 960px*/
@media (max-width: 768px) {
  body {
    font-size: 9px;
    /* margin: 0 150px; */
  }
}

/* 타블렛) 화면 너비: 577 ~ 768px */
@media (max-width: 768px) {
  body {
    font-size: 8px;
    /* margin: 0 150px; */
  }
}

/* 모바일) 화면 너비: 0 ~ 576 */
@media (max-width: 576px) {
  body {
    font-size: 8px;
    /* margin: 0 130px; */
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
